.App {
  
}

.App-logo {
  animation: App-logo-spin infinite s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}
.Nav {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.Nav li {
    display: inline-block;
    color: white;
    padding: 16px;
    text-decoration: none;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
