body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
/**
#message { background: white; max-width: 360px; margin: 100px auto 16px; padding: 32px 24px; border-radius: 3px; }
#message h2 { color: #ffa100; font-weight: bold; font-size: 16px; margin: 0 0 8px; }
#message h1 { font-size: 22px; font-weight: 300; color: rgba(0,0,0,0.6); margin: 0 0 16px;}
#message p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; }
#message a { display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; }
#message, #message a { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
#logout {display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; }
#copyright { color: rgba(0,0,0,0.4); text-align: center; font-size: 13px; }
@media (max-width: 600px) {
  body, #message { margin-top: 0; background: white; box-shadow: none; }
  body { border-top: 16px solid #ffa100; }
}
**/
#app {visibility: hidden;}
#addBtn {
  z-index: 100;
  position: fixed;
  bottom: 2rem;
  right:4rem;
  transition: 0.3s;
  padding: 15px;
  border-radius: 50px 50px 50px 50px;
  border-color: rgb(16, 16, 17);
  border-style: solid;
  border-width:3px;
  opacity: 1;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
  outline: none;
  cursor: pointer;
  background-color: rgb(145, 145, 153);
}

#addBtn:active{
  opacity: 0.5;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width:500px){
  #addBtn{
    bottom: 2rem;
    right:2rem;
  }
}

#addBtnArea{
  margin-top: 50px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

.accordion{
  cursor: pointer;
  margin-bottom: .0rem;
}

/* Loader Animation Wheel */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}