body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }

#app {visibility: hidden;}
#addBtn {
  z-index: 100;
  position: fixed;
  bottom: 2rem;
  right:4rem;
  transition: 0.3s;
  padding: 15px;
  border-radius: 50px 50px 50px 50px;
  border-color: rgb(16, 16, 17);
  border-style: solid;
  border-width:3px;
  opacity: 1;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
  outline: none;
  cursor: pointer;
  background-color: rgb(145, 145, 153);
}

#addBtn:active{
  opacity: 0.5;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width:500px){
  #addBtn{
    bottom: 2rem;
    right:2rem;
  }
}

#addBtnArea{
  margin-top: 50px;
}
.fade-enter-active{
  overflow: hidden;
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.fade-leave-active{
  transition: opacity .5s;
  
}
.accordion{
  cursor: pointer;
  margin-bottom: .0rem;
}

/* Loader Animation Wheel */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.noselect { 
  -webkit-touch-callout: none; 
  /* iOS Safari */ 
  -webkit-user-select: none; 
  /* Chrome/Safari/Opera */ 
  -khtml-user-select: none; 
  /* Konqueror */ 
  -moz-user-select: none; 
  /* Firefox */ 
  -ms-user-select: none; 
  /* Internet Explorer/Edge */ 
  user-select: none; 
  /* Non-prefixed version, currently not supported by any browser */ 
  }
  
  .pointer {
    cursor: pointer;
  }

  #login,logout{
    cursor: pointer;
  }